
    * {
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    body {
      background: black;
      
      color: #fff;
      margin: 0;
      padding: 0;
      min-height: 100vh;
    }
    .header {
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 2px solid #00e09b;
    }
    .logo{
        font-size: 30px;
         -webkit-text-stroke: 1px rgb(15, 15, 15);
         color: #00e09b;
         font-weight: bolder;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .header2 {
        background: transparent;
        display: flex;
        justify-content:center;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 2px solid #00e09b;
    }
    .nav-links ul {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: space-between;
        align-content: center;
    }
  .nav-links ul li a {
        color: white;
        font-weight: bold;
        padding: 8px 12px;
        border-radius: 8px;
        transition: background 0.3s, color 0.3s;
        font-size: 18px;

    }
    .nav-links ul li a:hover {
        background: #00e09b;
        color: #000;
    }
.input{
    background: transparent;
    border: 2px solid #00e09b;
    border-radius: 8px;
    padding: 8px 12px;
    color: white;
}
.button{
    margin: 2px;
    background: #00e09b;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    color: white;
    transition: .5s;
}
.button:hover{
    background: #00e09b;
    color: black;
    font-weight: bold;
    transform:scale(1.1);
}
    .quiz-container {
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(6px);
      width: 90%;
      max-width: 600px;
      padding: 30px;
      border: solid 2px #00ffb0;
    }
    h1 {
      text-align: center;
      color: #00ffb0;
    }
    .question {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
    .quizcard{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }
    .answer-btn {
      display: block;
      background: #161b22;
      border: 1px solid #00ffb0;
      border-radius: 8px;
      padding: 10px 15px;
      color: #fff;
      margin: 10px 0;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
    }
    .answer-btn:hover {
      background: #00ffb0;
      color: #000;
    }
    #next-btn {
      display: none;
      background: #00ffb0;
      color: #000;
      border: none;
      border-radius: 8px;
      padding: 10px 20px;
      margin-top: 20px;
      cursor: pointer;
      font-weight: bold;
    }
    #next-btn:hover {
      background: #00e09b;
    }
    .introbox{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        background: black;
    }
.intro {
    text-align: center;
    padding: 100px 20px;
    display: flex; /* change from inline-block */
    flex-direction: column; /* stack text and button vertically */
    align-items: center;
    justify-content: center;
    margin: 20px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    width: 80%;
    max-width: 800px;
    border: solid 2px #00ffb0;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
   gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .clickb{
        background: #00ffb0;
        color: black;
        border: none;
        border-radius: 8px;
        padding: 10px 15px;
        cursor: pointer;
        transition: 0.3s;
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;
    }
    /* Creating css for the sections of  languages */
    .html{
      background: #E0FFFF;
      border: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;
      padding: 20px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      justify-items: center;
      

      

    }
    .htmlbox{
      display: inline-block;
      margin: 20px;
      padding:20px;
      text-align: center;

      
    }
    .htmlbox h2{
      color: #ff5733;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      font-size: 80px;
      -webkit-text-stroke: 1px rgb(15, 15, 15);

    }
    .htmlbox p{
      color: black;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin: 10px 0;
      text-align: center;
    }
    .htmlbox .buttons{
      margin: 10px;
      display: flex;
     flex-direction: column;
     gap: 10px;
    }
    .buttons .b1{
      background: #00ffb0;
      color: #000;
      border: none;
      border-radius: 8px;
      padding: 10px 15px;
      cursor: pointer;
      transition: 0.3s;
      font-size: 16px;
      font-weight: bold;
    }
    .buttons .b2{
      background: #ff5733;
      font-size: 16px;
      font-weight: bold;
      color: #000;
      border: none;
      border-radius: 8px;
      padding: 10px 15px;
      cursor: pointer;
      transition: 0.3s;
    }
    .buttons .b3{
      font-size: 16px;
      font-weight: bold;
      background: #007bff;
      color: #000;
      border: none;
      border-radius: 8px;
      padding: 10px 15px;
      cursor: pointer;
      transition: 0.3s;
    }
  .htmldef{
    font-size: 20px;
    color: black; 
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
    
    padding: 0 10px;

  }
  .css{
    background: #7cc8ff;
      border: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;
      padding: 20px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      justify-items: center;
      flex-direction: row-reverse;
  }
  .cssbox{
    display: inline-block;
    margin: 20px;
    padding:20px;
    text-align: center;

    
  }
  .cssbox h2{
    color: #007bff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 80px;
    -webkit-text-stroke: 1px rgb(15, 15, 15);

  }
  .cssbox p{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
    text-align: center;
  }
  .cssbox .buttons{
    margin: 10px;
    display: flex;
   flex-direction: column;
   gap: 10px;
  }
  .buttons .b1{
    background: #00ffb0;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: bold;
  }
  .buttons .b2{
    background: #ff5733;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  .buttons .b3{
    font-size: 16px;
    font-weight: bold;
    background: #007bff;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  .cssdef{
    font-size: 20px;
    color: black; 
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
    
    padding: 0 10px;

  }
  .js{
    background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;
      padding: 20px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      justify-items: center;
  }
  .jsbox{
    display: inline-block;
    margin: 20px;
    padding:20px;
    text-align: center;

    
  }
  .jsbox h2{
    color: #ffdf00;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 80px;
    -webkit-text-stroke: 1px rgb(15, 15, 15);

  }
  .jsbox p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
    text-align: center;
  }
  .jsbox .buttons{
    margin: 10px;
    display: flex;
   flex-direction: column;
   gap: 10px;
  }
  .buttons .b1{
    background: #00ffb0;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: bold;
  }
  .buttons .b2{
    background: #ff5733;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  .buttons .b3{
    font-size: 16px;
    font-weight: bold;
    background: #007bff;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  .jsdef{
    font-size: 20px;
    color: white; 
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
    
    padding: 0 10px;

  }
.python{
    background: hsl(270, 100%, 71%);
      border: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;
      padding: 20px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      justify-items: center;    
      flex-direction: row-reverse;
  }
  .pythonbox{
    display: inline-block;
    margin: 20px;
    padding:20px;
    text-align: center;
  }
  .pythonbox h2{
    color: #306998;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 80px;
    -webkit-text-stroke: 1px rgb(15, 15, 15);
  }
  .pythonbox p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
    text-align: center;
  }
  .pythonbox .buttons{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .buttons .b1{
    background: #00ffb0;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: bold;
  }
  .buttons .b2{
    background: #ff5733;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  .buttons .b3{
    font-size: 16px;
    font-weight: bold;
    background: #007bff;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  .pydef{
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
    padding: 0 10px;
  }
  .java{
    background: rgb(93, 243, 52);
      border: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;
      padding: 20px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      justify-items: center;    
  }
  .javabox{
    display: inline-block;            
    margin: 20px;
    padding:20px;
    text-align: center;
  }
  .javabox h2{
    color: #f89820;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 80px;
    -webkit-text-stroke: 1px rgb(15, 15, 15);
  }
  .javabox p{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
    text-align: center;
  }
  .javabox .buttons{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .buttons .b1{
    background: #00ffb0;
    color: #000;
    border: none;
    border-radius: 8px;

    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: bold;
  }
  .buttons .b2{
    background: #ff5733;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  .buttons .b3{
    font-size: 16px;
    font-weight: bold;
    background: #007bff;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;        
    transition: 0.3s;
  }
  .javadef{
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
    padding: 0 10px;
  }
  .cpp{
    background: rgb(255, 115, 139);
      border: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;
      padding: 20px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      justify-items: center;    
      flex-direction: row-reverse;
  }
  .cppbox{
    display: inline-block;
    margin: 20px;
    padding:20px;
    text-align: center;
  }
  .cppbox h2{
    color: #00599c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 80px;
    -webkit-text-stroke: 1px rgb(15, 15, 15);
  }
  .cppbox p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
    text-align: center;
  }
  .cppbox .buttons{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cppdef{
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
    padding: 0 10px;
  }








    /* Responsive Design */

  @media (max-width: 600px) {
    .header, .header2 {
        flex-direction: column;
        text-align: center;
      }
        .nav-links ul {
            flex-direction: column;
            gap: 10px;
        }
        .nav-links ul li a {
            padding: 6px 10px;
            font-size: 14px;
        }
      .quiz-container {
        padding: 20px;
      }
      .question {
        font-size: 1rem;
      }
      .answer-btn {
        font-size: 0.9rem;
        padding: 8px 12px;
      }
      #next-btn {
        padding: 8px 16px;
      }
    }